---
import { getPosts } from "../../graphql/wpQuery";

export async function getStaticPaths() {
  const categories = await getPosts();

  return categories.posts.edges
    .map(({ node }) => {
      return node.categories.nodes.map((cat) => {
        return {
          params: {
            slug: cat.slug,
          },
        };
      });
    })
    .flat();
}

const { slug } = Astro.params;

// Get all posts that match the category slug
// loop through the array of posts and compare the categories of that post to the page slug
// Add the post to a new array if it matches

const allPosts = await getPosts();

console.log("ALL POSTS: " + JSON.stringify(allPosts, null, 2));

// const catPosts = allPosts.filter((post) => {
//   return post.node.categories.nodes.map((cat) => cat.slug).includes(slug);
// });

// This is how you get the category slug
//const catPosts = allPosts.posts.edges[0].node.categories.nodes[0].slug;

// This gets all the categories associated with a post
// const catPosts = allPosts.posts.edges[0].node.categories.nodes.map(
//   (cat) => cat.slug
// );

// This gets all the categories associated with all the posts
// const catPosts = allPosts.posts.edges.map((post) => {
//   return post.node.categories.nodes.map((cat) => cat.slug);
// });

//console.log(catPosts);
---

<h1>{slug}</h1>

<ul>
  <!-- {
    posts.map((post) => (
      <li>
        <a href={post.node.uri}>{post.node.title}</a>
      </li>
    ))
  } -->
</ul>
