---
// API import
import { getCategories } from "../graphql/wpQuery";

const data = await getCategories();
//categories.posts.edges[0].node.categories.nodes[0].name
const categories = [];
const edges = data.posts.edges;
for (var i = 0; i < edges.length; i++) {
  let temp = edges[i].node.categories.nodes;
  for (var j = 0; j < temp.length; j++) {
    let cat = temp[j].name;
    if (!categories.includes(cat)) {
      categories.push(cat);
    }
  }
}

categories.sort();
// TODO actually generate routes based on the categories
---

<ul>
  {
    categories.map((cat) => (
      <li>
        <a href="#">{cat}</a>
      </li>
    ))
  }
</ul>
